@import url("https://use.typekit.net/zgk4azm.css");

@font-face{
    font-family: 'Dephiana';
    src: url("FONTE/Dephiana\ \(DEMO\).ttf");
}

/*Geral */
*{
    box-sizing: border-box;
}

body{
    font-family: myriad-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
 }
 
.fonteLogoSocial {
    font-family: 'Dephiana';
    color: #37222e;
}

.letraRoxoEscuro {
    color: #37222e;
}

.letraRoxo{
    color: #581c44;
}

.letraCinza{
    color: grey;
}

.botaoCorBeleza {
    background-color: #996EA0;
    color: white;
}

.corCadastro {
    background-image: linear-gradient(to right,#581c44, #e3d6dd );
}

.fotoPerfil {
    width: 250px;
}

.fotoPerfilPequeno{
    width: 60px;
}

.fotoGrupo{
    width: 100px;
}

.iconeAtividadeFisicaRoxo{
    width: 70px;
}

/* Barra Navegação - header */
header {
    background-color: #dbd7d4;
}

header .navbar-brand img {
    width: 200px;
}

.navbar-light .navbar-nav .nav-link {
    color: #37222e;
    font-size: 1.3rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #37222e;
}

/* Cor do texto dentro do carousel */
.carousel-caption {
    color: #37222e;
}

/* Cor do texto e fundo de toda a section */
section {
    color: #37222e;
    background-color: #dbd7d4;
}

/* Pagina inicial */
#sobreNos {
    font-style: italic;
}

#conectar {
    font-style: italic;
}

/*Footer */
footer {
    color: #37222e;
    background-color: #dbd7d4;
    text-align: center;
}

footer img {
    width: 100px;
}

.rodape p {
    text-align: center;
}

/*Modal (entrar, cadastro, esqueceu a senha) */
div .modal-header img {
    width: 100px;    
}

.modal-header{
    border-bottom: none;
}

.modal-footer {
    border-top: none;
    text-align: center;
}

.fundoBranco {
    background-color: white;
    
}

/* Cadasdro Grupo */
.card{
    border: none;
}








